<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #112D4E;">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold h-4" href="/" style="font-family:'Times New Roman', Times, serif;">Coder
      Erkan</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left side links start -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/about">Hakkımda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/articles">Makaleler</a>
        </li>


        <li class="nav-item">
          <a class="nav-link " href="#">Link 2</a>
        </li>

      </ul>
      <!-- Left side links end -->

      <!-- Right side links start -->
      <ul class="navbar-nav ms-auto ">

        {% if session["logged_in"] %} <!-- Eğer kullanıcı giriş yapmışsa  Çıkış butonunu göster -->

        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Kontrol Paneli</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logout">Çıkış Yapın</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Giriş Yapın</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/register">Kayıt Olun</a>
        </li>
        {% endif %}







        <li class="nav-item">
          <a class="nav-link " href="/follow_addresses">Takip edin</a>
        </li>

      </ul>
      <!-- Right side links end -->


      <!--Search area unused -->
      <!-- 
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button> 
      </form>
      -->

    </div>
  </div>
</nav>