{% extends "layout.html" %}


{% block about %}
<div class="rounded-3 p-4 shadow-sm bg-white">
    <h1 class = "display-4 fw-semibold">About Me </h1>
    <hr>
    <p> 💼 Software Developer | Artificial Intelligence and Full Stack Enthusiast

        As a developer with a passion for software and technology, I work in the fields of artificial intelligence, deep learning/improvement, data side and full stack development. My goal is to make a difference with innovative projects and to produce user-oriented solutions. My biggest motivation is to leave a mark in the technology world and contribute to digital transformation. Feel free to get in touch, we can create great projects together.
    </p>
  </div>

{% endblock about %}