{% extends "layout.html" %}

{% block succeededRegistration %}

<!-- success.html -->
<div class="alert alert-success container w-75 mt-4" role="alert">
  <h4 class="alert-heading">Başarılı!</h4>
  <p>Hesabınız başarıyla oluşturuldu.</p>
  <hr>
  <p class="mb-0">Artık blog yazılarımızı takip edebilir ve içeriklerimizi keşfedebilirsiniz.</p>
  <hr>
  <p class="mb-0 text-center alert alert-success bg-light">Ana sayfaya yönlendiriliyorsunuz...</p>
</div>
<script>
  setTimeout(function() {
    window.location.href = "{{ url_for('index') }}";
  }, 4000);  // 2 saniye sonra index sayfasına yönlendir
</script>

{% endblock succeededRegistration %}